<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="Monitor.Path" value="@{MonitorPath}" />
    <add key="Monitor.Filter" value="@{MonitorFilter}" />
    <add key="Monitor.GracePeriod" value="@{MonitorGracePeriod}" />
    <add key="TopShelf.Service.Name" value="ExcelTimesheetMonitor" />
    <add key="TopShelf.Service.Description" value="Monitors a share for changes on excel timesheets" />
    <add key="TopShelf.Service.DisplayName" value="Excel Timesheet monitor" />
  </appSettings>
  
  <connectionStrings>
    <add name="Timesheet" connectionString="@{TimesheetConnectionString}" />
  </connectionStrings>
  
  <nlog>
    <variable name="logDirectory" value="@{MonitorLoggingDirectory}" />
    <targets>
      <target name="file" type="File" fileName="${logDirectory}/log.${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="@{MonitorLoggingMinLevel}" writeTo="file" />
    </rules>
  </nlog>
</configuration>